*{
  margin: 0;
  padding: 0;
}

body{
  /* background-image: url(swe1.jpg);
  background-position:bottom;  */

  /*background: rgb(2,0,36);
  background: radial-gradient(circle,rgba(2,0,36,1) 0%,rgba(0,212,255,1) 0%,rgba(9,9,121,1) 100%);*/
}


.btn-warning{
  padding: 20px;
  font-size:15px;
  border-radius:3px;
  color:#fff;
  background-color:grey;
  border:0;
  overflow:hidden;
  transition:0.25;
  margin-left: 20px;
}

.btn-warning input[type="file"]{
  cursor:pointer;
  position:absolute;
  left:0%;
  top:0%;
  opacity:100;
}

.btn-warning:hover{
  background-color: aqua;
}

.container{
    
  display: flex !important;
  flex-direction: column;
  width:100%;
  height:100%;
  align-items: center;
  justify-content: center;
  margin:auto;
  
}

.container > form {
background-color:white;
font-weight: bold;
font-size: medium;
width: 70%;
height:45%;
border:5px solid black;
padding:50px;
margin-top: 100px;
border-radius:5px;
opacity:0.9 ;
}

.divider{
  border:solid rgb(12, 71, 137);
  width:440px;
  height:400px;
  margin-top: 30px;
  position: absolute;
}

.ui-form{
    border:none;
    width:400px;
    margin-top: 0px;
    margin-left:450px;
}

.field{
   font-weight: bold;
    border: none;
    margin-top:50px;
    margin-left: 8px;
    padding:20px;
}

.field3{
  margin-left:7%;
}

.field2{
  font-weight: bold;
  font-size: medium;
  margin:20px;
  margin-top: 30px;
  margin-left:20%;
  padding:50px;
  width: 300px;
  border-radius:0.8em;
}
.field1{
  font-weight: bold;
  font-size: medium;
  margin:20px;
  margin-left: 15px;
  padding:20px;
  width: 200px;
  border-radius:0.8em;
}
.rooms{
  font-weight: lighter;
}

.Button{
    display: inline-block;
    color:black;
    margin-top: 50px;
    margin-left:530px;
    width:15%;}

.Button1{
      display: inline-block;
      color:black;
      margin-top: 50px;
      margin-left:530px;
      width:15%;}





