
.title{
  text-align: center;
}




.back{
      width:25%;
      height : 300px; 
      float: right;
      display:inline-block;
      padding:5px; 
      border-radius: 1vw;
      border-style: groove;
      border-color: grey;
      background:rgb(212, 211, 211);
      margin:50px;
      margin-top:50px;
    

}

.styling1{ 
  
  margin-left:150px;
  margin-top: -90px;

}

.styling2{ 
  
  margin-left:0px;
  margin-top: 25px;

}
.styling3{ 
  
  margin-left:0px;
  margin-top: -5px;

}
.styling4{ 
  margin-left:0px;
  margin-top: -10px;

}
.image{
  margin-top: 10px;
  width: 140px;
  height: 100px;
}

.pure-button {
    padding:8px;
    color:aliceblue;
    margin-left:180px;
    margin-top: 100px; 
    border-radius: 4px;
    background: rgb(36, 122, 184); ;
  }

  .pure-buttons {
    padding:8px;
    color:aliceblue;
    margin-left:5px;
    margin-top: 100px;
    border-radius: 4px;
    background: rgb(192, 57, 43); ;
  }

  .back:hover,
  .back:active{
    color:black;
    background: grey;
    border: none;
  }
 
  